/alma_ident.ini
/.DS_Store
F22prelimLibraryPotentialGraduates.txt
F22PotGrads.xlsx
csv_input/~$F22PotGrads.xlsx
csv_tmp_output/*
logs/*.log*
F22prelimLibraryPotentialGraduates_no_process.csv
S23prelimLibraryPotentialGraduates.txt
*.pyc
*.csv
/alma_ident.ini
/.DS_Store
F22prelimLibraryPotentialGraduates.txt
F22PotGrads.xlsx
csv_input/~$F22PotGrads.xlsx
csv_tmp_output/*
logs/*.log*
F22prelimLibraryPotentialGraduates_no_process.csv
S23prelimLibraryPotentialGraduates.txt
*.pyc
/csv_input/F23PotGrads.txt
/csv_input/S23prelimLibraryPotentialGraduates_no_process.csv
/csv_input/.DS_Store
/csv_input/F23prelimLibraryPotentialGraduates.txt
